* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none; 
}
body {
    background-color: #9797ff; 
    color: #fff;
    font-family: "Passion One", sans-serif;
}

.k-header {
    position: fixed;
    background-color: #222247;
    border-radius: 0 0 20px 20px;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 50;
}

.k-header-logo {
    position: absolute;
    width: 120px;
    margin-left: 20px;
    z-index: 7;
    font-size: 27px;
    font-family: "Passion One", sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding: 10px;
}
.k-header__box {
    display: flex;
    justify-content:space-between;
    width: 70%;
    margin: 0 auto;
}
.k-header__box-name {
    font-size: 25px;
    font-family: "Passion One", sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding: 10px;
}
.menu-icon {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    position: relative;
    z-index:10;
    overflow: hidden;
    margin-right: 30px;
}
.menu-icon div {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
.menu-icon div:nth-of-type(1) {
    top: calc(50% - 9px);
}
.menu-icon div:nth-of-type(3) {
    top: calc(50% + 9px);
}
.menu-icon.active div:nth-of-type(2) {
    display: none;
}
.menu-icon.active div:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-icon.active div:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: #222247;
    transform: translateX(100%);
    transition: 0.5s; 
    z-index: 6;
    border-radius: 70% 0 70% 50%;
}
.nav.active {
    transform: translateX(0);
    border-radius: 0;
}
.nav__box {
    margin-top: 150px;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.nav__box-name{
    font-size: 45px;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
    margin-top: 30px;
}








.prologe {
    margin: 0 auto;
    padding: 150px 0;
    font-size: 35px;
    text-align: center;
    width: 600px;
}
.banner {
    height: 300px;
    border: 5px solid #000;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}
.programMembers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2eb5;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.member{
    display: flex;
    align-items: center;
}
.member:nth-child(2){
    flex-direction: row-reverse;
    text-align: end;
}
.us_img {
    height: 300px;
    border: 12px ridge #222247;
    border-radius: 5px;
}
.us_text {
    font-size: 35px;
    padding: 50px;
}
.food_prologe {
    text-align: center;
    font-size: 50px;
    margin: 50px 5px;
}
.dish {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2eb5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}
.dish_name {
    font-size: 40px;
    text-align: center;
}
.dish_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.dish_text {
    width: 50%;
    font-size: 25px;
    margin-top: 20px;
}
.dish_img {
    width: 45%;
    height: 30%;
}
.dish_receptInput {
    text-align: center;
    font-size: 40px;
}
.ingredients {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}
.ingr {
    width: 300px;
    text-align: center;
    margin: 20px;
    padding: 10px 5px;
    background-color: #222247;
}
.recept {
    margin: 40px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.step {
    font-size: 25px;
    margin-top: 20px;
}
.video {
    width: 80%;
    margin: 50px auto;
}

@media(max-width: 800px){
    .programMembers{
        padding: 20px;
    }
    .us_text {
        font-size: 25px;
        padding: 50px 20px;
    }
    .dish_info {
        flex-direction: column;
    }
    .dish_text {
        width: 90%;
        text-align: center;
    }
    .dish_img {
        margin-top: 40px;
        width: 70%;
    }
    .header {
        font-size: 25px;
    }
    .head_home {
        font-size: 35px;
    }
    .head_list {
        width: 75%;
    }
    .k-header {
        height: 14vh;
    }
}
@media(max-width: 650px){
    .prologe {
        width: 90%;
    }
    .header {
        font-size: 20px;
    }
    .head_home {
        font-size: 30px;
    }
}
@media(max-width: 550px){
    .member {
        flex-direction: column;
        text-align: center;
    }
    .member:nth-child(2) {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .header {
        display: none;
    }
    .prologe {
        margin: 0px auto;
    }
    .menu-icon{
        display: block;
    }
    .k-header__box-name {
        display: none;
    }
}
@media(max-width: 400px){
    .dish_info {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .dish_text {
        margin-top: 30px;
    }
}
@media(max-width: 370px){
    .dish {
        padding: 5px;
    }
}